crewai>=1.9.0
langchain-community>=0.0.38
pydantic>=2.5.0
python-dotenv>=1.0.1
fastapi

ddgs
kafka-python==2.0.2
psycopg2-binary==2.9.9
python-dotenv>=1.0.0
litellm>=1.51.0
# Para que CrewAI se conecte a vLLM via API OpenAI
openai>=1.0.0
arize-phoenix==13.3.0
openinference-instrumentation-crewai==1.0.0